* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 55px;
}

.tag ul {
  list-style: none;
  display: flex;
}

.tag li {
  margin-left: 40px;
  margin-right: 40px;
}

.tag a:hover {
  background-color: white;
  color: black;
}

.tag a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.container .section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  scroll-snap-align: start;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.container .section:nth-child(1) {
  background: greenyellow url(./img//bg4.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container .section:nth-child(2) {
  background: #0f0 url(./img//bg3.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
}

.container .section:nth-child(3) {
  background: #00f url(./img//bg6.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 40vh;
}

.container .section:nth-child(4) {
  background: #f0f url(./img//bg7.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container .section:nth-child(5) {
  background: url(./img//bg8.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container .content:nth-child(1) {
  font-size: 2.5rem;
  padding-top: 350px;
  padding-left: 500px;
}

#name {
  color: transparent;
  -webkit-text-stroke: 0.005vw #1dc917;
  font-size: 6vw;
  position: relative;
}

#name::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: black;
  -webkit-text-stroke: 0vw #383d52;
  overflow: hidden;
  border-right: 2px solid #01fe87;

  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

span {
  transition: all 1s ease;
  color: greenyellow;
}

span.fade {
  color: black;
}

/* -------------------------------------- */

#skill {
  width: 90%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 8px;
  box-shadow: 10px 7px 40px 1px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.emp {
  height: 16%;
}

.skill h1 {
  padding-top: 20px;
  padding-left: 30px;
  color: white;
  font-size: 29px;
}

.skill li {
  list-style: none;
  margin-top: 30px;
  margin-left: 30px;
}

.skill h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bar {
  display: block;
  height: 6px;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
  height: 5px;
  float: left;
  background: #2187e7;
}

.html {
  width: 90%;
  animation: animatehtml 7s linear;
}

@keyframes animatehtml {
  0% {
    width: 0%;
  }
  90% {
    width: 93%;
  }
}

.css {
  width: 67%;
  animation: css 8s linear;
}

@keyframes css {
  0% {
    width: 0%;
  }
  67% {
    width: 68%;
  }
}

.js {
  width: 53%;
  animation: js 9s linear;
}

@keyframes js {
  0% {
    width: 0%;
  }
  53% {
    width: 55%;
  }
}

.react {
  width: 82%;
  animation: react 9.7s;
}

@keyframes react {
  0% {
    width: 0%;
  }
  82% {
    width: 84%;
  }
}

.circle {
  background-color: rgb(240, 8, 8);
  height: 150px;
  width: 150px;
  margin-top: 5%;
  border-radius: 50%;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 39px;
}

#circle_1 {
  background-color: #505238;
}

#circle_1 img {
  height: 150px;
  margin-left: -1px;
}

#circle_2 {
  background-color: rgb(241, 82, 82);
  display: flex;
  align-items: center;
  justify-content: center;
}

#circle_2 h4 {
  font-size: 110px;
  font-weight: lighter;
  padding-bottom: 13px;
  color: white;
}

#circle_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(45, 45, 196);
}

#circle_3 img {
  height: 130px;
}

#circle_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#circle_4 img {
  height: 130px;
}

/* ------------------------ */
.project {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#first {
  margin-left: 1100px;
}
.project::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.cart {
  height: 75vh;
  width: 40%;
  background-color: rgba(250, 236, 255, 0.4);
  margin-top: 110px;
  margin-left: 40px;
  right: 40px;
  backdrop-filter: blur(13px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  height: 280px;
  margin-top: 17px;

}
img {
  height: 240px;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.txt {
  margin-top: 10px;
  margin-left: 30px;
  font-weight: lighter;
}

.used_li {
  margin-left: 30px;
  margin-top: 6px;
  font-weight: bold;
}

.link {
  margin: 8px;
}

.used {
  margin-top: 7px;
}

.button {
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  height: 30px;
  width: 70px;
  background-color: black;
}

button:hover {
  transition: 0.4s;
  background-color: #505238;
}

button a {
  text-decoration: none;
  border: none;
  color: white;
}

#contact{
  display: flex;
  justify-content: center;
  align-items: center;
}


.contact{
  width: 80%;
  height: 78vh;
  background-color: rgba(255,255,255,0.3);
  filter: blur(5px);
  backdrop-filter: blur(4px);
}
@media only screen and (max-width: 768px) {
  .logo img {
    height: 45px;
  }

  .nav_link {
    position: fixed;
    width: 95%;
    height: 100vh;
    margin-top: 30px;
    background: black;
    flex-direction: column;
    /* clip-path: circle(50px); */
    display: none;
    gap: 30px;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
  }

  .nav_link.open {
    clip-path: circle(500px at 90% -10%);
    -webkit-clip-path: circle(500px at 90% -10%);
  }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .burger {
    cursor: pointer;
  }

  .container .content:nth-child(1) {
    font-size: 1rem;
    padding-top: 430px;
    padding-left: 100px;
  }

  #name {
    color: transparent;
    -webkit-text-stroke: 0.005vw #1dc917;
    font-size: 7vw;
    position: relative;
  }

  .logos {
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 4px;
    flex-wrap: wrap;
  }

  .circle {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }

  #circle_1 img {
    height: 100px;
  }
  #circle_2 h4 {
    font-size: 80px;
  }

  #circle_3 img {
    height: 90px;
  }

  #circle_4 img {
    height: 90px;
  }

  .cart{
    width: 95%; 
    height: 70vh;
    margin-top: 120px;
    
  }
  img{
    height: 145px;
  }
  #first{
    margin-left: 1250px;
  }

  .txt{
    margin-top: -110px;
    font-size: 14px;
  }

  .button{
    margin-top: 20px;
  }

  .contact{
    width: 80%;
    height: 78vh;

  }
}
