* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav {
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 55px;
}

.tag ul {
  list-style: none;
  display: flex;
}

.tag li {
  margin-left: 40px;
  margin-right: 40px;
}

.tag a:hover {
  background-color: white;
  color: black;
}

.tag a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.container .section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  scroll-snap-align: start;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.container .section:nth-child(1) {
  background: greenyellow url(./img//bg4.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container .section:nth-child(2) {
  background: #0f0 url(./img//bg3.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
}

.container .section:nth-child(3) {
  background: #00f url(./img//bg6.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
}

.container .section:nth-child(4) {
  background: #f0f url(./img//bg7.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container .section:nth-child(5) {
  background: url(./img//bg8.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container .content:nth-child(1) {
  font-size: 2.5rem;
  padding-top: 350px;
  padding-left: 500px;

}

#name{
  color: transparent;
  -webkit-text-stroke: 0.005vw #1dc917;
  font-size: 6vw;
  position: relative;

}

#name::before{
  content:attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: black;
  -webkit-text-stroke: 0vw #383d52;
  overflow: hidden;
  border-right: 2px solid #01fe87;

  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,10%,100%
  {
    width: 0;
  }
  70%,90%
  {
    width: 100%;
  }
}

span{
  transition: all 1s ease;
  color: greenyellow;
}

span.fade{
  color: black;
}

@media only screen and (max-width: 768px) {
  .nav_link{
    position: fixed;
    width: 95%;
    height: 100vh;
    margin-top: 30px;
    background: black;
    flex-direction: column;
    /* clip-path: circle(50px); */
    display: none;
    gap: 30px;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path:circle(100px at 90% -10%);
    transition: all 1s ease-out;
  }

  .nav_link.open{
    clip-path: circle(500px at 90% -10%);
    -webkit-clip-path:circle(500px at 90% -10%);

  }

    .line{
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    
    .burger{
      cursor: pointer;
      
    }



  .container .content:nth-child(1) {
      font-size: 1rem;
      padding-top: 430px;
      padding-left: 100px;
  }
  
#name{
  color: transparent;
  -webkit-text-stroke: 0.005vw #1dc917;
  font-size: 7vw;
  position: relative;

}

}